body{
    margin: 0;
    font-family: Arial, sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1rem;
}
.logo{
    color: white;
    font-size: 1.5rem;

}
.menu{
    display: none;
    flex-direction: column;
    background: #444;
    position:absolute;
    top: 60px;
    right: 20px;
    width: 200px;
}
.menu a{
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
}
.hamburger{
    font-size: 2rem;
    color: white;
    cursor: pointer;
}
@media(min-width: 768px){
    .menu{
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        width: auto;
    }
    .hamburger{
        display: none;
    }
    
}